APP_URL=https://invoice.munywele.co.ke
APP_KEY=base64-generate-with-your-application-key
APP_DEBUG=false
REQUIRE_HTTPS=true
DB_HOST=maria
DB_PORT=3306
DB_DATABASE=invoice
DB_USERNAME=invoice
DB_PASSWORD=change_me
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_PASSWORD=change_me
IN_USER_EMAIL=
IN_PASSWORD=
INVOICENINJA_TAG=latest
STACK_REVISION=1790584804