DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=invoice
DB_USERNAME=dolibarr
DB_PASSWORD=change_me
APP_URL=https://invoice.munywele.co.ke
ADMIN_USER=admin
ADMIN_PASSWORD=change_me
INSTALL_AUTO=0
COMPANY_NAME=Invoice Company
COMPANY_COUNTRYCODE=KE
DOLIBARR_TAG=13
STACK_REVISION=1790584804